# This file may be used to create an environment using:
# $ conda create --name compsci_project_3 --file requirements.txt
# platform: win-64
jupyter=1.0.0
matplotlib-base=3.5.2
numpy=1.22.4
pandas=1.4.2
python=3.9.13
scikit-learn=1.0.2
setuptools=62.3.1
